#dropArea{
    height: 500px;
    background-color: #aaa;
}
.fa-cloud-upload-alt{
    display: flex;
    justify-content: center;
    font-size: 100px;
    line-height: 500px;
    color: black;
    cursor: pointer;
}
/* .content{
    width: 100%;
    min-height: 30px;
    color: black;
} */